html,body{
  height: 100%;
  width: 100%;
  background-color: #A5CFF7;
  font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
}
#tetris{
  overflow: hidden;
  padding: 47px;
  background: url(../images/borderBg.png) no-repeat 21px 15px;
  background-size: 306px 513px;
}
#tetris>canvas:first-child{
  background: #295159 url("../images/logo.png") no-repeat center 29%;
  float: left;
  border:1px solid #62675b;
}
#tetris canvas:last-child{
  //border: 4px solid #fdcb5d;
  //margin-top: 2px;
  border-radius: 6px;
  border: 2px solid #c19c4b;

}
#divInfo{
  float: left;
  margin-left: 18px;
  background: #fdcb5d;
  padding: 6px;
  height: 450px;
  border-left: 2px solid #d9af52;
  img{
    width: 100px;
    cursor: pointer;
    display: block;
    margin-top: 20px;
  }
}
#useTime,#speed,#point{
  color: #7a5f25;
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}
