html,body{
  height: 100%;
  width: 100%;
  background-color: #A5CFF7;
}
#tetris{
  overflow: hidden;
  padding: 47px;
  background: url(../images/borderBg.png) no-repeat 21px 15px;
  background-size: 306px 513px;
  //position: relative;
  //display: flex;
  //justify-content: center;
}
#tetris>canvas:first-child{
  background: #295159 url("../images/logo.png") no-repeat center 29%;
  float: left;
  border:1px solid #62675b;
}
#tetris canvas:last-child{
  float: left;
  margin-left: 13px;
  margin-top: 25px;
  border: 3px solid #fdcb5d;
  border-left-width: 6px;
}